body{
    background: //top
                linear-gradient(lighten($highlight,40), lighten($highlight,40)),
                //bottom
                linear-gradient(lighten($highlight,30), lighten($highlight,30)),
                linear-gradient(lighten($highlight,40), lighten($highlight,40));

    background-size: 1em (4*$defaultLineHeight),
                     1em (2*$defaultLineHeight),
                     1em (17*$defaultLineHeight);

    background-position: 0% 0%,
                         0% 100%,
                         0% 100%;

    background-repeat: repeat-x,
                       repeat-x,
                       repeat-x;         
                                     
}

// Header
//----------------
.header{


}

.header__site-name{
      width:70%;
      float:left;

      margin-top:0;
      font-weight: 600;
      color: lighten($highlight,5);
      @include font(6);
      

      > a {
        color: lighten($highlight,5);
      }
}

// Menu
//----------------
.menu{
  list-style-type:none;  
}

.menu__item{
  width:20%;
  background:#fff;
  text-align:center;
}

// Main
//----------------
.main{

}

.main__heading{
    margin-top:0;
    color:$highlight;
}

// Common
//----------------
.post-date{
    font-family: $defaultFontFamilySerif;
    font-style: italic;
    color:lighten($highlight,5);
}